{% extends 'fe/layout/content.html' %}

{% block content %}
<div class="content">
    <div class="cb1">
        <div class="contentTitle">Targeted Twitter Follower Acquisitions</div><div class="clearFloat"></div>
        
        <div class="contentFBTpic">
            <div class="contentSeparator"></div>
        	<img src="{{ MEDIA_URL }}fe/images/follower_chart_webnews20_7days.png" width="300" />
            <div style="text-align:center;">130+ new followers a day</div>
            <div class="contentSeparator"></div>
        	<img src="{{ MEDIA_URL }}fe/images/follower_chart_s_a_sports_7days.png" width="300" />
            <div style="text-align:center;">300+ new followers a day</div>
            <div class="contentSeparator"></div>
        	<img src="{{ MEDIA_URL }}fe/images/follower_chart_snsanalytics_7days.png" width="300" />
            <div style="text-align:center;">500+ new followers a day</div>
            <div class="contentSeparator"></div>
            <div align="center"><a rel="ajaxform" href="#/payment/" class="TopFollowtools_intro_bt">Try it now!</a></div>
        </div>
        <div class="contentFBTtext">
            <p><strong>Acquire HUNDREDS of Targeted Twitter Followers per Twitter Account per Day!</strong></p>
             
            <p>Twitter is a huge phenomenon.&nbsp;&nbsp;Virtually every media company and corporation has some Twitter accounts to promote stories, sell products, and interact with customers.&nbsp;&nbsp;Everyone is looking to attract followers interested in their content or business.</p>
            
            <p>Now you can do just that with SNS Analytics.</p>
    
            <p>SNS Analytics solutions enable you to rapidly to gain followers interested in you and the content of your Twitter accounts.&nbsp;&nbsp;You can set up and execute your follow marketing campaigns all within SNS Analytics.&nbsp;&nbsp;Because everything is web-based, you don't have to download, install, upgrade, or run any piece of software on your own computer.&nbsp;&nbsp;It is 100% hassle-free for you.&nbsp;&nbsp;In addition, you can view your campaign progress, download detailed reports, and optimize your campaigns as you grow.</p>
    
            <p>SNS Analytics solutions have delivered solid results with most clients seeing growth of 150 to more than 500 followers per day per Twitter account.&nbsp;&nbsp;This growth rate has proven to be consistent over weeks and months, although your success depends to a degree on the attractiveness of your Twitter account content and relevancy of your target followers.</p>
    
            <p><a href="http://twitter.com/mongabay" title="http://twitter.com/mongabay" target="_blank">Mongabay</a> is one among thousands of Twitter accounts that are using SNS Analytics social marketing solutions.&nbsp;&nbsp;Mongabay has been enjoying a 400+ daily follower growth rate.&nbsp;&nbsp;What makes Mongabay even happier is that these newly developed followers are on average more relevant and stickier.&nbsp;&nbsp;The effectiveness is verified by report matrix from both SNS Analytics and Google Analytics.</p>
            
            <p>"SNS Analytics has been a great tool for <a href="http://www.mongabay.com" title="http://www.mongabay.com" target="_blank">Mongabay.com</a>," said Rhett Butler, founder of the environmental science and conservation news web site.&nbsp;&nbsp;"I can focus on developing great content without having to spend time managing my Twitter accounts and seeking new followers.&nbsp;&nbsp;Everything is handled by SNS Analytics.&nbsp;&nbsp;The growth in followers has been incredible."</p>
    
        	<img src="{{ MEDIA_URL }}fe/images/follower_chart_mongabay_1month.png" width="510" />
            <div style="text-align:center;">Averaged 493 new followers a day</div>

            <p>For a limited time, SNS Analytics is offering a new user discount for its powerful solutions.&nbsp;&nbsp;We suggest you start with a one-time $4.99 PayPal transaction.&nbsp;&nbsp;This will help you gain 1,000+ new followers, typically within a few of days.</p>
            
            <a rel="ajaxform" href="#/payment/" class="TopFollowtools_intro_bt">Try it now!</a>
		</div>
	</div>
</div>

{% endblock %}