				  <div class="content">
				    <div class="cb1 safe-list-help">
				      <div class="helpTitle">Help</div>
				      <div class="helpContentTitle">
				        <strong>Follow Campaign Safelist</strong>
			          </div>
				      <div class="cb2 helpContent">
				        <p>
				            For the follow campaign to work effectively, we need unfollow some followers of your Twitter account.&nbsp; 
				        	It is possible you never want to unfollow certain followers.&nbsp; In such case, you can put these followers into your safelists.
				        </p>
				        <p>
				            You can pick any list of your Twitter account to be a safelist.&nbsp; If you are not familiar with Twitter lists yet, please visit this link on Twitter.com:
				            <a href="http://help.twitter.com/forums/10711/entries/76460-twitter-lists" target="_blank">http://help.twitter.com/forums/10711/entries/76460-twitter-lists</a>
				        </p>
				        <p>
				            For best practice, a single Twitter list should not have more than 500 members.
				        </p>
			          </div>
			        </div>
			      </div>
