<div class="content">
	<div class="cb1 faceboxText">
	  <div class="helpTitle">Help</div>
	  <div class="helpContentTitle">
	    <strong>Build your own RSS feeds with SNS Analytics</strong>
	  </div>
	  <div class="cb2 helpContent">
	    <p>
	        SNS allows you to build your own RSS feeds, each with a permanent public feed URL. 
	    </p>
	    <p>
	        Each SNS feed can aggregate feed entries from at most 5 existing RSS feeds.  
	        Feed entries from those aggregated sources are ordered by their created time.
	    </p>
	    <p>
	        Please allow up to 3 minutes for a newly built SNS feed to retrieve initial entries.
	        After the initial retrieval, each SNS feed will refresh entries every 15 minutes.
	    </p>
	  </div>
	</div>
</div>
