{% extends 'cake/layout/contentlayout.html' %}

{% block content %}
	<div id="tos" class="block-2"> 
		<div class="separator-1"><span>Terms of Service</span></div>

		<p>These Terms of Service govern your access to and use of the RippleOne.com website 
		(the "<span class="highlight">Site</span>"), any of the information, text, graphics, videos or 
		other materials created or provided by us and appearing on the Site, (the 
		"<span class="highlight">RippleOne.com Content</span>"), and any services provided through the Site 
		or by us (the "<span class="highlight">Services</span>"), the ability to create, post and 
		playback videos on third party sites via use of our video comment plug-ins, via 
		the embeddable stand-alone player or other technologies we may provide 
		(collectively, the "<span class="highlight">Applications</span>"), except where expressly 
		noted. Your access to and use of the Site, RippleOne.com Content, Services, 
		Applications and/or User-Generated Content (as defined below) are expressly 
		conditioned on your compliance with these Terms of Service. By accessing or 
		using Site, RippleOne.com Content, Services, Applications or User-Generated Content 
		(unless otherwise noted, collectively referred to as "<span class="highlight">RippleOne.com</span>") 
		you agree to be bound by these Terms of Service. </p>
		<p>These Terms of Service apply to the current version of RippleOne.com, as well as any 
		enhancements that we may choose to offer from time to time unless such 
		enhancements are governed by separate agreements.</p>

		<h2>1. Your Ability to Accept these Terms of Service</h2>
		<p>You acknowledge and agree that you are more than 18 years of age and are 
		fully able to enter into the terms, conditions, obligations, acknowledgements, 
		representations, and warranties set forth in these Terms of Service. You agree 
		that you will adhere to and comply with terms set forth herein. As RippleOne.com is 
		not intended for users under 18, you may not use RippleOne.com if you are under 18 
		years of age.</p>

		<h2>2. User-Generated Content </h2>
		<p>All information, data, text, software, music, sound, photographs, graphics, 
		video, messages, tags, or other materials that you and/or other users post, 
		upload, link to and/or otherwise submit to the Site or through the Services or 
		the Applications (collectively referred to as "<span class="highlight">User-Generated 
		Content</span>"), whether publicly posted or privately transmitted, are the 
		sole responsibility of the person from whom such User-Generated Content 
		originated. You are entirely responsible for all of the User-Generated Content 
		that you upload, post, email, transmit or otherwise make available via the Site, 
		the Services or the Applications. We do not monitor or control User-Generated 
		Content posted and we take no responsibility for such content.<BR><BR>We do not 
		endorse, support, represent or guarantee the truthfulness, accuracy, or 
		reliability of any User-Generated Content or endorse any of the opinions 
		expressed therein. You agree to waive, and hereby do waive, any legal or 
		equitable rights or remedies you have or may have against us with respect 
		thereto. You acknowledge that any reliance on User-Generated Content will be at 
		your own risk. </p>
		<p>You understand that by using or accessing RippleOne.com you may be exposed to 
		content that might be offensive, harmful, inaccurate or otherwise inappropriate 
		material, or in some cases, postings that have been mislabeled or are otherwise 
		deceptive. Under no circumstances will we be liable in any way for any content 
		or communications, including, but not limited to, any errors or omissions in any 
		form of User-Generated Content, or any loss or damage of any kind incurred as a 
		result of the use of any RippleOne.com Content or User-Generated Content posted, 
		emailed, transmitted or otherwise made available on the Site, via the Service or 
		the Applications.</p>
		<p>We reserve the right at all times (but will not have an obligation) to remove 
		or refuse to distribute any User-Generated Content, such as User-Generated 
		Content which violates these Terms of Service. We also reserve the right to 
		access, read, preserve, and disclose any information as we reasonably believe is 
		necessary to (a) satisfy any applicable law, regulation, legal process or 
		governmental request, (b) enforce these Terms of Service, including 
		investigation of potential violations hereof, (c) detect, prevent, or otherwise 
		address fraud, security or technical issues, (d) respond to member support 
		requests, or (e) protect our rights, property or safety, and that of our users 
		and the public. We will not be responsible or liable for the exercise or 
		non-exercise of its rights under these Terms of Service.</p>

		<h2>3. Your Property Rights and the Licenses You Grant to RippleOne.com</h2>
		<p>Except where stated otherwise in these Terms of Service or elsewhere on the 
		Site (see "<span class="highlight">Third Parties: Content Producers and Websites</span>," 
		below), we claim no ownership or control over any User-Generated Content. You 
		retain any and all trademark rights and copyright to any User-Generated Content 
		that you submit, post or display on or through the Site or the Services and you 
		are responsible for protecting those rights. <BR>While you own all of your own 
		User-Generated Content, you hereby grant us, our licensees of the Applications 
		and business partners a non-exclusive, worldwide, royalty-free, sublicensable, 
		perpetual and irrevocable right and license to use and exploit your 
		User-Generated Content for any purpose. Furthermore, you hereby grant us, our 
		licensees of the Applications and business partners the right to publicly 
		exhibit, display, reproduce, store, distribute, alter or make other use of 
		videos, photographs, images or likenesses of you, or in which you may be 
		included with others. You consent to such uses in any medium now known or 
		developed in the future, including photographs, video, slide shows, Internet 
		images or other mediums, means of storage or distribution. You agree that such 
		images and likenesses of you can be used with or without your name. You give 
		this permission without any limitation whatsoever. In consideration of the 
		opportunity to have your image, likeness and/or name used as set forth above, 
		you agree to release and discharge us, our licensees of the Applications and 
		business partners from any claims, actions and demands of any nature, including 
		but not limited to any claims of libel, infringement of the right of publicity, 
		invasion of privacy, portrayal in a false light, or other claim, based on or 
		arising out of or in connection with the above-stated uses of images of you or 
		your image, likeness or name. </p>
		<p>In granting these license to us, our licensees of the Applications and 
		business partners, you represent and warrant that you own or have the necessary 
		licenses, rights, consents, power, authority and permissions to grant these 
		licenses, which include but are not limited to any third party rights that are 
		required as a result of the subject matter of your User-Generated Content. </p>

		<h2>4. RippleOne.com Property</h2>
		<p>Other than your own User-Generated Content, we own all right, title and 
		interest, including all worldwide intellectual property rights in the Site, 
		RippleOne.com Content, Services, and Applications contained therein. The Site, RippleOne.com 
		Content, Services, and Applications are protected by copyright, trademark, and 
		other laws of both the United States and foreign countries. Except as expressly 
		permitted in these Terms of Service, you may not reproduce, modify or prepare 
		derivative works based upon, distribute, sell, transfer, publicly display, 
		publicly perform, or otherwise use the Site, RippleOne.com Content or Services. You 
		may not copy or modify the HTML code used to generate web pages on the Site. You 
		will not remove, alter or conceal any copyright, trademark, service mark or 
		other proprietary rights notices incorporated in, or accompanying any portion 
		of, RippleOne.com or related products and services. Other than explicitly stated 
		herein, you may not make any commercial use of the Site, RippleOne.com Content and 
		Services without prior written approval from RippleOne.com. </p>

		<h2>5. Third Parties: Content Producers and Websites</h2>
		<p>We will be working with third party content producers 
		to create special features and shows which may be displayed on the 
		Site in specially identified sections or outside the Site on other websites. 
		When you post or otherwise create or provide User-Generated Content on one of 
		these areas of the Site or on a third party site through the use of the 
		Applications or otherwise, your User-Generated Content may be governed by that 
		site's user agreement. Regardless of whether your consent is required, we urge 
		you to review these third party agreements before contributing to these sites or 
		participating in such programming so as understand how their terms may affect 
		the ownership of your content. By accepting these Terms of Service, you 
		acknowledge that there are times when these Terms of Service may not apply to 
		your User-Generated Content, the Services and all areas of the Site and hereby 
		expressly relieve us from any and all liability arising in connection with your 
		use of any third party website.<BR></p>

		<h2>6. General Prohibitions</h2>
		<p>You agree not to do any of the following while using RippleOne.com: </p>
		<UL>
		  <LI>Post, publish or transmit any text, graphics, or material that: (i) is 
		  false or misleading; (ii) is defamatory; (iii) invades another's privacy; (iv) 
		  is obscene, pornographic, or offensive; (v) promotes bigotry, racism, hatred 
		  or harm against any individual or group; (vi) infringes another's rights, 
		  including but not limited to any intellectual property rights; or (vii) 
		  violates, or encourages any conduct that would violate, any applicable law or 
		  regulation or would give rise to civil liability; 
		  <LI>Access, tamper with, or use non-public areas of the Site, our computer 
		  systems, or the technical delivery systems of our providers; 
		  <LI>Attempt to probe, scan, or test the vulnerability of any system or network 
		  or breach any security or authentication measures; 
		  <LI>Attempt to access or search RippleOne.com with any engine, software, tool, 
		  agent, device or mechanism other than the software and/or search agents 
		  provided, or specifically authorized, by us or other generally available third 
		  party web browsers (such as Microsoft Internet Explorer or Netscape 
		  Navigator); 
		  <LI>Attempt to alter or modify the Site, RippleOne.com Content, Services or 
		  Applications or use RippleOne.com for purposes other than which they were intended; 
		  <LI>Send unsolicited email, junk mail, "spam," chain letters, or promotions or 
		  advertisements for products or services; 
		  <LI>Forge any TCP/IP packet header or any part of the header information in 
		  any email or posting, or in any way use RippleOne.com to send altered, deceptive or 
		  false source-identifying information; 
		  <LI>Attempt to decipher, decompile, disassemble or reverse engineer any of the 
		  software used to provide RippleOne.com; 
		  <LI>Interfere with, or attempt to interfere with, the access of any user, host 
		  or network, including, without limitation, sending a virus, overloading, 
		  flooding, spamming, or mail-bombing the Site; or 
		  <LI>Impersonate or misrepresent your affiliation with any person or entity. 
		  </LI></UL>
		<p>We will have the right to investigate and prosecute violations of any of the 
		above, including intellectual property rights infringement and Site security 
		issues, to the fullest extent of the law. We may involve and cooperate with law 
		enforcement authorities in prosecuting users who violate these Terms of Service. 
		You acknowledge that we have the right to monitor your access to or use of 
		RippleOne.com for operating purposes, to ensure your compliance with these Terms of 
		Service, or to comply with applicable law or the order or requirement of a 
		court, administrative agency or other governmental body.</p>

		<h2>7. Links</h2>
		<p>RippleOne.com may contain links to third party websites or resources. You 
		acknowledge and agree that we are not responsible or liable for: (i) the 
		availability or accuracy of such websites or resources; or (ii) the content, 
		products, or services on or available from such websites or resources. Links to 
		such websites or resources do not imply any endorsement by us of such websites 
		or resources or the content, products, or services available from such websites 
		or resources. You acknowledge sole responsibility for and assume all risk 
		arising from your use of any such websites or resources.</p>

		<h2>8. Termination</h2>
		<p>If you violate any of these Terms of Service, your permission to use and 
		access RippleOne.com will automatically terminate. Should your account or usage be 
		terminated, you are prohibited from creating any new accounts or otherwise 
		accessing RippleOne.com without our prior written approval. We reserve the right to 
		revoke your access to and use of RippleOne.com at any time, with or without cause. We 
		also reserve the right to cease providing or to change RippleOne.com at any time and 
		without notice. </p>

		<h2>9. Use of RippleOne.com at Your Own Risk</h2>
		<p>Your access to and use of RippleOne.com is at your own risk. We will have no 
		responsibility for any harm to your computer system, loss of data, or other harm 
		that results from your access to or use of RippleOne.com.</p>
		<p>By accepting this Terms of Serice, you opt in to receive emails from RippleOne.com.
		You have the choices to unsubscribe all SNS emails after you accept the Terms of Service.</p>

		<h2>10. RippleOne.com is Available "AS-IS"</h2>
		<p>RIPPLEONE.COM IS PROVIDED "AS IS," WITHOUT WARRANTY OR CONDITION OF ANY KIND, 
		EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, WE EXPLICITLY 
		DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR 
		NON-INFRINGEMENT. </p>
		<p>WE MAKE NO WARRANTY THAT RIPPLEONE.COM WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE 
		ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. WE MAKE NO WARRANTY REGARDING 
		THE QUALITY OF ANY PRODUCTS, SERVICES OR INFORMATION PURCHASED OR OBTAINED 
		THROUGH RIPPLEONE.COM OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR 
		RELIABILITY OF ANY INFORMATION OBTAINED THROUGH RIPPLEONE.COM. WE ASSUME NO 
		RESPONISIBLITY FOR ANY: PERSONAL INJURY OR PROPERTY DAMAGE OF ANY NATURE 
		WHATSOEVER RESULTING FROM YOUR ACCESS TO AND USE OF RIPPLEONE.COM; UNAUTHORIZED ACCESS 
		TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION STORED 
		THEREIN; ANY UNAUTHORIZED USE, DISPLAY, PERFORMANCE OR DISTRIBUTION OF YOUR 
		USER-GENERATED CONTENT BY US (UNLESS DUE TO OUR INTENTIONAL FAILURE) OR BY A 
		THIRD PARTY; YOUR INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM RIPPLEONE.COM; 
		AND/OR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO 
		OR THROUGH RIPPLEONE.COM BY ANY THIRD PARTY.</p>
		<p>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM OR THROUGH 
		RIPPLEONE.COM WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. </p>

		<h2>11. Indemnity</h2>
		<p>You agree to defend, indemnify, and hold us, our officers, directors, 
		employees and agents, harmless from and against any claims, liabilities, 
		damages, losses and expenses, including, without limitation, reasonable 
		attorneys' fees and costs, arising out of or in any way connected with: (i) your 
		access to or use of RippleOne.com; (ii) your violation of these Terms of Service; 
		(iii) your violation of any third party right, including without limitation any 
		intellectual property right, including but not limited to right of attribution, 
		publicity, confidentiality, property or privacy right; or (iv) any claim that 
		your User-Generated Content caused damage to a third party, including, without 
		limitation, claims that your User-Generated Content is infringing. </p>

		<h2>12. Limitation of Liability</h2>
		<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE WILL NOT, NOR WILL ANY 
		OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING RIPPLEONE.COM, BE LIABLE 
		FOR ANY INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES RESULTING FROM 
		YOUR ACCESS TO OR USE OF, OR INABILITY TO ACCESS OR USE, RIPPLEONE.COM, WHETHER BASED 
		ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, 
		WHETHER OR NOT WE HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF 
		A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. YOU 
		SPECIFICALLY ACKNOWLEDGE THAT WE ARE NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR 
		ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES AND THAT THE RISK OF INJURY FROM 
		THE FOREGOING RESTS ENTIRELY WITH YOU. FURTHER, WE WILL HAVE NO LIABILITY TO YOU 
		OR TO ANY THIRD PARTY FOR ANY THIRD PARTY CONTENT UPLOADED ONTO, DOWNLOADED 
		FROM, OR LINKED TO RIPPLEONE.COM. </p>
		<p>YOU AGREE THAT OUR AGGREGATE LIABILITY TO YOU FOR ANY AND ALL CLAIMS ARISING 
		FROM THE USE OF RIPPLEONE.COM IS LIMITED TO TWENTY ($20) U.S DOLLARS. THE LIMITATIONS 
		OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN 
		BETWEEN US AND YOU. YOU AGREE THAT ANY CAUSE OF ACTION YOU MAY HAVE ARISING OUT 
		OF OR RELATED TO RIPPLEONE.COM MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF 
		ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>
		<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR 
		CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO 
		YOU.</p>

		<h2>13. Feedback </h2>
		<p>We encourage you to provide feedback, comments and suggestions regarding 
		RippleOne.com. Feedback may be submitted to <a href="mailto:support@rippleone.com">support@rippleone.com</a> 
		or other venues we provide. You acknowledge and agree that all Feedback will be 
		our sole and exclusive property and you hereby assign and agree to assign all 
		rights, title and interest you have in such Feedback to us together with all 
		intellectual property rights therein. </p>

		<h2>14. Severability</h2>
		<p>In the event that any provision of these Terms of Service is held to be 
		invalid or unenforceable, the remaining provisions of these Terms of Service 
		will remain in full force and effect.</p>

		<h2>15. Waiver</h2>
		<p>Our failure to enforce any right or provision of these Terms of Service will 
		not be deemed a waiver of such right or provision.</p>

		<h2>16. Controlling Law and Jurisdiction</h2>
		<p>These Terms of Service and any action related thereto will be governed by the 
		laws of the State of California without regard to its conflict of law 
		provisions. The exclusive jurisdiction and venue of any action with respect to 
		the subject matter of these Terms of Service will be the state and federal 
		courts located in Santa Clara County, California, and each of the parties 
		hereto waives any objection to jurisdiction and venue in such courts. </p>

		<h2>17. Entire Agreement</h2>
		<p>Except where noted, these Terms of Service are the entire and exclusive 
		agreement between us and you regarding RippleOne.com and these Terms of Service 
		supersede and replace any prior agreements between us and you regarding RippleOne.com. 
		Nothing in this Agreement shall be deemed to confer any third party rights or 
		benefits. </p>
		<p>&nbsp;</p>
		<p>If you have any questions about these Terms of Service, please contact us at 
		<a href="mailto:info@rippleone.com">info@rippleone.com</a>.</p>
	</div>
{% endblock %}

{% block content-discovery-side %} 
	{% include 'cake/layout/sidecolumncommon1.html' %}		
{% endblock %}




