{% extends 'sns/layout/content.html' %}

{% block content %}
<div class="content">
    <div class="cb1">
       You have not authorized SNS Analytics to administer Facebook Pages owned by any of your Facebook accounts.
       <div class="clearFloat"></div>
    </div>

    <div class="cb1">
	   To authorize, you can log in to your target Facebook account in this same browser, then <a href="/chan/facebook/login">click here</a>.
       <div class="clearFloat"></div>
    </div>
</div>
{% endblock %}