{% extends 'sns/layout/popup_form.html' %}
{% block form %}
<script type="text/javascript">
jQuery(document).ready(function($) {
        $('title').data('reloadOnSuccess',false);
		jQuery(".retro",$('#tweet_reply_facebox')[0]).each(function() {

		var subject = jQuery(this);

		if ( subject.is(".formsubmit") ) {
			makeFormAjaxSubmit(subject);
		}
	});
});
</script>
<div id="channelUpdate" class="cb1">
        <div class="fieldInput"><img src="{{form.initial.avatarUrl}}" class="iconBig"/></div>
    	<div class="fieldInput"><strong>{{form.initial.name}}</strong></div>
    	<div class="clearFloat"></div>
        <div><label for="id_keywords">If you want this Facebook account to post only contents matching certain keywords, </label></div>
        <div><label for="id_keywords">please specify the keywords(separated by comma). </label></div>
    	<div class="clearFloat"></div>
    	<div class="fieldLabel"></div>
    	<div class="clearFloat"></div>
    	<div class="fieldInput"> {{form.keywords}} </div>
    <!-- hidden inputs -->
    {{form.id}}
    {{form.callback}}
</div>
{% endblock %}