{% extends 'sns/layout/nologin_layout.html' %}

{% block content %}
<div class="content">
    <div class="static-text cb1">
        <div class="contentTitle" style="margin-left: 15px;">About us</div>
        <div class="clearFloat"></div>

        <p>
			SNS Analytics is the largest publisher on Twitter, operating 3,000 Twitter accounts with total over 10 million followers.
        </p>

        <p>
            SNS Analytics builds and markets Twitter accounts to allow users to discover relevant niche content. 
            The company operates thousands of accounts, each tweeting content on a single topic (iPad, San Francisco, Dallas Cowboys, etc.). 
            Every tweet contains a link that leads to a relevant article, photo or video on a third party web site. 
            Content is sourced from around the Internet, prioritized, de-duplicated and published into the appropriate account. 
            All content is sourced and distributed automatically. Collectively the SNS Analytics accounts are arranged into a topic hierarchy that represents a complete interest graph of the Internet. 
            The accounts cover topics as niche as individual athletes to ones as broad as sports category news. 
            SNS Analytics offers, in essence, a full news aggregation and distribution service on top of the Twitter platform.
        </p>

        <p>
			The SNS Analytics application is built and hosted on the Google App Engine. 
			The technology behind the product has been developed and refined since year 2009. 
			The technology infrastructure is designed to handle traffic at volume and will continue to scale with the business.
		</p>

		{% comment %}
        <p>
			The team behind the SNS Analytics product is comprised of seasoned Internet executives. 
			Ward Supplee, CEO, has worked in Product Marketing for eBay and Gymboree online as well as consulted to Internet startups like Redbeacon (acquired by Home Depot) and Getable. 
			Alan Xing, CTO, is a software engineering and product veteran having previously held senior level roles at Salesforce.com as well as StrongMail. 
			He directed and personally developed the SNS Analytics app from inception to its current stage.
        </p>
        {% endcomment %}

        <p>
            For further information about SNS Analytics or for press inquiries, please contact us at <a target="_blank" href="mailto:info@snsanalytics.com">info@snsanalytics.com</a>
        </p>
    </div>
</div>
{% endblock %}