{% extends 'sns/layout/nologin_layout.html' %}

{% block content %}
<div class="content" style="padding-left: 20px;">

    <div class="cb1">
        <div class="contentTitle">Social with us</div>
            <p>
                Facebook: <a target="_blank" href="http://facebook.com/snsanalytics">http://facebook.com/snsanalytics</a>
            </p>
            
            <p>
                Twitter:&nbsp;<a target="_blank" href="http://twitter.com/snsanalytics">@snsanalytics</a>
            </p>
            
            <p>
                LinkedIn: <a target="_blank" href="http://www.linkedin.com/company/sns-analytics-inc">http://www.linkedin.com/company/sns-analytics-inc</a>
            </p>
    
            {% comment %}
            <p>
                LinkedIn Company Page: <a target="_blank" href="http://www.linkedin.com/companies/sns-analytics-inc">http://www.linkedin.com/companies/sns-analytics-inc</a>
            </p>
    
            <p>
                UserVoice: <a target="_blank" href="http://snsanalytics.uservoice.com">http://snsanalytics.uservoice.com</a>
            </p>
    
            <p>
                Blog: <a target="_blank" href="http://blog.snsanalytics.com">http://blog.snsanalytics.com</a>
            </p>
            {% endcomment %}
        </div>
        <div class="clearFloat">
    </div>

    <div class="cb1">
        <div class="contentTitle">Support</div>
            <p> <a target="_blank" href="mailto:support@snsanalytics.com">support@snsanalytics.com</a> </p>
        </div>
        <div class="clearFloat">
    </div>

    <div class="cb1">
        <div class="contentTitle">Career</div>
            <p> <a target="_blank" href="mailto:hr@snsanalytics.com">hr@snsanalytics.com</a> </p>
        </div>
        <div class="clearFloat">
    </div>

    <div class="cb1">
        <div class="contentTitle">General Inquiries</div>
            <p> <a target="_blank" href="mailto:info@snsanalytics.com">info@snsanalytics.com</a> </p>
        </div>
        <div class="clearFloat">
    </div>

</div>
{% endblock %}
