{% extends 'sns/layout/layout.html' %}
{% load googletags %}


{% block main %}
	<div class="HomeCenter_Bg">
		<div class="HomeCenter_TopBlock">
			<div class="HomeCenter_TopBlockBg">
		        <div class="HomeCenter_TopBlock_Right">
		            <div class="Home_TopBlockFont">Largest Publisher on Twitter.</div>
		            <div class="clearFloat"></div>
		            <div class="home-top-right-block">
		                <ul>
		                    <li>Over 3 thousand topic specific Twitter accounts</li>
		                    <li>Over 10 million followers</li>
		                    <li>Hundreds of millions of monthly tweet impressions</li>
		                    <li>Millions of monthly unique visitors</li>
		                    <li>Thousands of unique content tweets daily</li>
		                    <li>Optimized for Twitter discovery</li>
		                </ul>
		            </div>
	                <div id="home-fb-like" class="home-top-right-block"><fb:like send="true" show_faces="false" href="http://www.facebook.com/snsanalytics"></fb:like></div>
		        </div>
		    </div>
	    </div>

		<div id="home-bottom" class="cb1">
	        <div id="home-bottom-left" class="cb2Left">
	            <div class="AddAccounts">
	                <div class="AddAccounts_font">Complete Topic Coverage</div>
	                <div class="home_addAccountsfont">SNS Analytics covers most popular topics and categories.</div>
	            </div>
	            <div class="addmessage">
	                <div class="AddMessage_font">Optimized Distribution</div>
	                <div class="home_addMessagefont">Tweets are optimized for long term user growth and engagement.</div>
	            </div>
	            <div class="DefineRule">
	                <div class="DefineRule_font">Proprietary Marketing</div>
	                <div class="home_addAccountsfont">Proprietary marketing algorithms drive sustained follower and visitor growth.</div>
	            </div>
	            <div class="Tracksuccess">
	                <div class="Tracksuccess_font">Detailed Tracking & Analytics</div>
	                <div class="home_tracksuccessfont">Powerful analytics tools track comprehensive user engagement metrics.</div>
	            </div>
	        </div>
	        <div id="home-bottom-right" class="cb2Right">
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=snsanalytics" data-widget-id="406873711032016896">Tweets about "snsanalytics"</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	        </div>
	    </div>
	</div>
	
	<div class="Center_TopImg">
        <img src="sns/images/Center_BottomImg.gif"/>
    </div>
{% endblock %}
