{% extends 'sns/layout/content.html' %}

{% block content %}

<div class="content">
    <div class="cb1">
           
        <div class="jobTitle">Join us</div>
		<div class="joblist">
        <ul>
  <li><a href="/job/senior_designer.html">Senior Designer</a></li>
  <li><a href="/job/senior_ux_designer.html">Senior UX Designer</a></li>
  <li><a href="/job/designer_first_class.html">Designer, 1st Class Pearl Harbor, HI</a></li>
  <li><a href="/job/shoe_designer.html">Shoe Designer - Designer - Footwear</a></li>
  <li><a href="/job/graphic_designer.html">Graphic Designer</a></li>
</ul>
        
    </div>

    </div>
</div>

{% endblock %}