{% extends 'sns/post/rule/list_template.html' %}
{% block list_header %}
<div class="buttonCreatesection">
	<div class="buttonCreate">
    	{% if limited %}
    	<a class="img-cursor-pointer" href="/usr/limit?name={{model_name}}&number={{limit_num}}" rel="facebox"> Add a feed campaign</a>
    	{% else %}
    	<a class="img-cursor-pointer" rel="ajaxform" href="#/post/rule/feed/create/?ret_url={{ret_url}}"> Add a feed campaign</a>
    	{% endif %}
	</div>
</div>
<div class="clearFloat"></div>
<div class="buttonCreatesection">
	<script type="text/javascript">
	$(document).ready(function($){
		document.getElementById('id_sortBy_type').value = '{{sortBy}}';
		document.getElementById('id_direct_type').value = '{{directType}}';
		document.getElementById('id_paginate_num').value = '{{paginate_by}}';	
	});
	</script>
    <div class="sortbyfunction">
  		Sorted by {{form.type}}
		{{form.order}}
		&nbsp;&nbsp;&nbsp;Page Size {{form.paginate}}
    </div>
    <input id="post_path" type="hidden" value="{{post_path}}"/>
</div>
<div class="clearFloat"></div>
{% if show_search %}
<div class="buttonCreatesection">
	<div class="searchfunction">
		<input type="text" value="{{keyword}}" id="query" class="retro searchInput" name="campaign keyword" onkeydown="enterPress(event);"/>
    	<input class="s cursorPointer" type="submit" value="Search" id="search_button" onclick="searchList('{{post_path}}')"/>
    </div>
</div>
{% endif %}
{% endblock %}
