body code,body pre{padding-top:16px}
body #Wrapper{width:1002px}
#Wrapper #Featured{left:-12px;width:762px;margin:0}
#Wrapper #Slides li h3,ul#Slides li h3{position:relative;margin-top:-40px}
.bigDivider span,.littleDivider span{width:1920px}
.slideItem.activeSlide a.slideImg{width:110px}
#Featured div.slideDouble a.slideImg{width:242px}
#Featured .activeSlide.slideDouble a.slideImg{width:238px}
#GalleryGrid ul{left:-37px;width:822px}
#Wrapper #GridImageWrap{margin-bottom:50px}
#Wrapper #GalleryGrid .gridBtn .rightArrow,#Wrapper #GalleryGrid .gridBtn .leftArrow{display:none}
#Wrapper #GalleryGrid .gridBtn .gridNext,#Wrapper #GalleryGrid .gridBtn .gridPrev{text-indent:0;font-size:1.4em;line-height:1;font-weight:700}
.postInfo{height:210px}
.postSummary .one_half{margin-right:15px}
#Wrapper .left_content,#Wrapper .right_content{margin:0;padding:0 0 0 30px}