{% extends 'sns/layout/list.html' %} {% load snsmailtags %} {% block list_header %}
<div class="buttonCreatesection">
	<div class="buttonCreate">
		<a class="img-cursor-pointer" rel="ajaxform" href="#/email/template/create/">Add a Email Template</a>
	</div>
</div>
<div class="clearFloat"></div>
<div class="buttonCreatesection">
	<script type="text/javascript">
	$(document).ready(function($){
		document.getElementById('id_sortBy_type').value = '{{sortBy}}';
		document.getElementById('id_direct_type').value = '{{directType}}';
		document.getElementById('id_paginate_num').value = '{{paginate_by}}';	
	});
	</script>
    <div class="sortbyfunction">
  		Sorted by {{form.type}}
		{{form.order}}
		&nbsp;&nbsp;&nbsp;Page Size {{form.paginate}}
    </div>
    <input id="post_path" type="hidden" value="{{post_path}}"/>
</div>

{%endblock%} {%block table_header %}
<tr class="listHeader">
	<td class="listHeaderCell channelLogin">
		Template Name
	</td>
	<td class="listHeaderCell channelKeywords">
		Subject
	</td>
	<td class="listHeaderCellLast channelActions">
		Actions
	</td>
</tr>
{%endblock%} {%block item%}
<tr id="list_tr_id_{{object.id}}" class="listTr{% cycle 'Odd' 'Even' %}">
	<td class="listCell textAlignLeft channelLogin">
		<span title="{{object.keywords|join:""}}">{{object.name}}</span>
	</td>
	<td class="listCell textAlignLeft channelKeywords">
		<a rel="ajaxform" href="#/email/template/update?id={{object.id}}&ret_url={{ret_url}}" title="Update">{{object.subject}}</a>
	</td>
	<td class="listCellLast channelActions">
	    <a class="action-button" rel="facebox" href="/email/template/send/?id={{object.id}}&ret_url={{ret_url}}" title="Send">
            <img src="{{MEDIA_URL}}sns/images/sendmail.png" alt="Send" border="0"  />
        </a>
        <a class="action-button" rel="ajaxform" href="#/email/template/update/?id={{object.id}}&ret_url={{ret_url}}" title="Update">
            <img src="{{MEDIA_URL}}sns/images/edit.png" alt="Update" border="0"  />
        </a>
        <a class="action-button cursorPointer" href="javascript:void(0);" onclick="delete_obj('{{object.id}}','{{ret_url}}','/email/template/')" title="Delete">
            <img src="{{MEDIA_URL}}sns/images/delete.png" alt="Delete" border="0"  />
        </a>
	</td>
</tr>
{% endblock %}
