{% extends 'sns/log/channel_stats_list_base.html' %}
{% load snsstringfiltertags %}
{% load snschanneltags %}


{% block buttons %}
	<div class="buttonCreate">
		<a class="img-cursor-pointer" href="/log/channelstats/export/">Export</a>
	</div>
	{% if view.conf.EXTRA_FEATURES %}
	<div class="buttonCreate">
		<a class="img-cursor-pointer" href="/log/channelstats/export/all/">Export All</a>
	</div>
	{% endif %}
	<div class="buttonCreate">
		<a class="img-cursor-pointer" href="/log/channelstats/export/handle_id_map/">Export Handle ID Map</a>
	</div>
	<div class="buttonCreate">
		<a class="img-cursor-pointer" href="/log/fc/export_all/">Export FCampaigns</a>
	</div>
{% endblock %}


{% block table_header %}
<tr class="listHeader">

	<td class="listHeaderCell list-col-stats-name">Account</td>
	
	<td class="listHeaderCell list-col-stats-latelypost cursorPointer 
	{% ifequal orderBy 'latelypost' %}
		{% ifequal orderType 'desc' %}
			list-sort-desc" onclick="window.location.href='{{view.path}}?orderby=latelypost&type=asc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% else %}
			list-sort-asc" onclick="window.location.href='{{view.path}}?orderby=latelypost&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% endifequal %}
	{% else %}
		list-sort-both" onclick="window.location.href='{{view.path}}?orderby=latelypost&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
	{% endifequal %}>Posts</td>
	
	<td class="listHeaderCell list-col-stats-latelyclick cursorPointer 
	{% ifequal orderBy 'latelyclick' %}
		{% ifequal orderType 'desc' %}
			list-sort-desc" onclick="window.location.href='{{view.path}}?orderby=latelyclick&type=asc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% else %}
			list-sort-asc" onclick="window.location.href='{{view.path}}?orderby=latelyclick&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% endifequal %}
	{% else %}
		list-sort-both" onclick="window.location.href='{{view.path}}?orderby=latelyclick&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
	{% endifequal %}>Clicks</td>
	
	<td class="listHeaderCell list-col-stats-latelyfollower cursorPointer 
	{% ifequal orderBy 'latelyfollower' %}
		{% ifequal orderType 'desc' %}
			list-sort-desc" onclick="window.location.href='{{view.path}}?orderby=latelyfollower&type=asc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% else %}
			list-sort-asc" onclick="window.location.href='{{view.path}}?orderby=latelyfollower&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% endifequal %}
	{% else %}
		list-sort-both" onclick="window.location.href='{{view.path}}?orderby=latelyfollower&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
	{% endifequal %}>Fo&#39;s</td>
	
	<td class="listHeaderCell list-col-stats-latestkloutscore cursorPointer 
	{% ifequal orderBy 'latestkloutscore' %}
		{% ifequal orderType 'desc' %}
			list-sort-desc" onclick="window.location.href='{{view.path}}?orderby=latestkloutscore&type=asc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% else %}
			list-sort-asc" onclick="window.location.href='{{view.path}}?orderby=latestkloutscore&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% endifequal %}
	{% else %}
		list-sort-both" onclick="window.location.href='{{view.path}}?orderby=latestkloutscore&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
	{% endifequal %}>Klout</td>
	
	<td class="listHeaderCell list-col-stats-searchrank cursorPointer 
	{% ifequal orderBy 'searchrank' %}
		{% ifequal orderType 'desc' %}
			list-sort-desc" onclick="window.location.href='{{view.path}}?orderby=searchrank&type=asc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% else %}
			list-sort-asc" onclick="window.location.href='{{view.path}}?orderby=searchrank&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% endifequal %}
	{% else %}
		list-sort-both" onclick="window.location.href='{{view.path}}?orderby=searchrank&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
	{% endifequal %}>S Rank</td>
	
	<td class="listHeaderCell list-col-stats-totalpost cursorPointer 
	{% ifequal orderBy 'totalpost' %}
		{% ifequal orderType 'desc' %}
			list-sort-desc" onclick="window.location.href='{{view.path}}?orderby=totalpost&type=asc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% else %}
			list-sort-asc" onclick="window.location.href='{{view.path}}?orderby=totalpost&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% endifequal %}
	{% else %}
		list-sort-both" onclick="window.location.href='{{view.path}}?orderby=totalpost&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
	{% endifequal %}>T Posts</td>
	
	<td class="listHeaderCellLast list-col-stats-totalclick cursorPointer 
	{% ifequal orderBy 'totalclick' %}
		{% ifequal orderType 'desc' %}
			list-sort-desc" onclick="window.location.href='{{view.path}}?orderby=totalclick&type=asc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% else %}
			list-sort-asc" onclick="window.location.href='{{view.path}}?orderby=totalclick&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
		{% endifequal %}
	{% else %}
		list-sort-both" onclick="window.location.href='{{view.path}}?orderby=totalclick&type=desc&paginate_by={{pageSize}}&keyword={{keyword}}'"
	{% endifequal %}>T Clks</td>
</tr>
{%endblock%}

{% block item %}
<tr class="listTr{% cycle 'Odd' 'Even' %}">
	<td class="listCell list-col-stats-name">
		{% comment %}<img class="iconMedium" src="{{object.key.name|avatarUrl}}" />{% endcomment %}
		<a href="http://www.twitter.com/{{object.name}}" target="_blank">{{object.name}}</a>
	</td>
	<td class="listCell list-col-stats-latelypost">
		<a href="/#/log/channelchart/?id={{ object.id }}&attr=postCounts" title="View chart">{{object.latelyPost}}</a>
	</td>
	<td class="listCell list-col-stats-latelyclick">
		<a href="/#/log/channelchart/?id={{ object.id }}&attr=clickCounts" title="View chart">{{object.latelyClick}}</a>
	</td>
	<td class="listCell list-col-stats-latelyfollower">
		<a href="/#/log/channelchart/?id={{ object.id }}&attr=followerCounts" title="View chart">{{object.latelyFollower}}</a>
	</td>
	<td class="listCell list-col-stats-latestkloutscore">
		<a href="/#/log/channelchart/?id={{ object.id }}&attr=kloutScores" title="View chart">{{object.realLatestKloutScore}}</a>
	</td>
	<td class="listCell list-col-stats-searchrank">
		<a href="{{object.searchTerm|twitterPeopleSearchUrl}}" target="_blank" title="Search '{{object.searchTerm}}'">{{object.searchRank}}</a>
	</td>
	<td class="listCell list-col-stats-totalpost">
		{{object.totalPost}}
	</td>
	<td class="listCellLast list-col-stats-totalclick">
		{{object.totalClick}}
	</td>
</tr>
{% endblock %}
