{% extends 'sns/layout/list.html' %}
{% load snschanneltags %}
{% load snsstringfiltertags %}
{% block list_header %}
<div class="buttonCreatesection">
State: {{form.state}}
</div>
<div class="buttonCreatesection">
Server: {{form.server}}
</div>
<div class="buttonCreatesection">
Page Size: {{form.pagination}}
</div>
<div class="buttonCreatesection" {% ifnotequal state 0 %} style="display:none" {% endifnotequal %}>
Priority: {{form.priority}}
</div>


<div class="clearFloat"></div>
<div class="buttonCreatesection">
<div class="searchfunction">
   <input type="text" value="{{keyword}}" id="query" class="retro searchInput"  onkeydown="enterPress(event);"/>
   <input class="s cursorPointer" type="submit" value="Search" id="search_button" onclick="searchList('/log/channelstats/fe/')"/>
</div>
</div>
{%endblock%}

{%block table_header %}
<tr class="listHeader">
    <td class="listHeaderCell followStatsAccount">Account</td>
    <td class="listHeaderCell followStatsServer">FE Info</td>
    <td class="listHeaderCell followStatsCount">Followers/Posts/Clicks</td>
    <td class="listHeaderCellLast followStatsTime">Last Modified</td>
</tr>
{%endblock%}

{%block item%}
<tr id="list_tr_id_{{object.chid}}" class="listTr{% cycle 'Odd' 'Even' %}">
    <td  class="listCell followStatsAccount">
    	<a target="_blank" href="http://twitter.com/{{object.name}}">
        {{object.name}} 
        </a>
        {% ifequal state 0 %}
        <select id="{{object.id}}" onchange="updateFollowPriority('{{object.id}}')">
        <option value="0" {% ifequal object.priority 0%}selected="selected"{% endifequal %}>None</option>
        <option value="1" {% ifequal object.priority 1%}selected="selected"{% endifequal %}>P1</option>
        <option value="2" {% ifequal object.priority 2%}selected="selected"{% endifequal %}>P2</option>
        <option value="3" {% ifequal object.priority 3%}selected="selected"{% endifequal %}>P3</option>
        </select>
        {% endifequal %}
        <a class="js-link" onclick="changeCurrentUser('{{object.userEmail}}')">
        {{object.userEmail}}
        </a>
    </td>
    <td  class="listCell followStatsServer">
    	<a target="_blank" href="http://{{object.server}}.appspot.com">
        {{object.server}}
        </a>
        {{object|feUserEmailIfDiff}}
    </td>
    <td  class="listCell followStatsCount">
    	<a target="_blank" href="/#/log/channelchart/?id={{object.id}}&attr=followerCounts">
        {{object.latelyFollower}}
        </a> / 
        <a target="_blank" href="/#/log/channelchart/?id={{object.id}}&attr=postCounts">
         {{object.latelyPost}}
         </a>/ 
         <a target="_blank" href="/#/log/channelchart/?id={{object.id}}&attr=clickCounts">
         {{object.latelyClick}}
         </a>
    </td>
    <td class="listCellLast followStatsTime">
        {{object.feModifiedTime|toUserTz|date:view.dateFormat}}
        {% ifequal state -1 %}
           {{object.state|channelFollowStats}}
        {% endifequal %}
    </td>
</tr>
{% endblock %}