{% extends 'sns/layout/list.html' %}
{% block table_header %}
    <tr>
        <th colspan="4">
            <div class="listHeader">
                <div class="listHeaderCell globalTitle">Title</div>
                <div class="listHeaderCell globalHour">hour</div>
                <div class="listHeaderCell globalDay">day</div>
                <div class="listHeaderCell globalWeek">week</div>
                <div class="listHeaderCellLast globalMonth">month</div>
            </div>
        </th>
    </tr>
{%endblock%}
{% block item %}
    <tr class="listTr{% cycle 'Odd' 'Even' %}">
        <td class="listCell globalTitle">
            {{object.globalUrl.title}}
        </td>
        <td class="listCell globalHour">
            {{object.c60m}}
        </td>
        <td class="listCell globalDay">
            {{object.c24h}}
        </td>
        <td class="listCell globalWeek">
            {{object.c7d}}
        </td>
        <td class="listCellLasts globalMonth"> 
        	{{object.c30d}}
        </td>
    </tr>
{% endblock %}
   