<div class="cb1" id="f_info" {% ifequal form.initial.hideFacebook 'on' %}{% else %}{% ifequal form.data.hideFacebook 'on' %}{% else %}style="display:none"{% endifequal %}{% endifequal %}>
    <div class="cb1Title">Facebook Specific</div>
   <div class="facebookarea">
      		{{form.fbPostStyle.errors}}
   		<!--    		<div class="campaignrow" id="feed_facebook_post_type"><strong>Post Type: </strong>
   			{{form.fbPostStyle}}
   		</div> -->
   		<div class="campaignrow" id="feed_facebook_post_type">
   			<div>{{form.fbPostStyle}} Show message links as attachment with rich info on Facebook post</div>
			<div class="clearFloat"></div>   			
   		</div> 
	</div>
</div>