{% extends 'sns/layout/content.html' %}

{% block content %}

				  <div class="content">
				    <div class="cb1">
				      <div class="jobTitle">Join us</div>
				      <div class="joblist">
				        <h3>Flash Animator / Developer / Designer</h3>
				        <ul>
				          <li>Position: Flash Animator / Developer / Designer</li>
				          <li>Location: Seattle</li>
				          <li>Status: Freelance</li>
				          <li>Estimated Duration: Ongoing</li>
				          <li>Starts: Within the next 2 weeks</li>
				          <li>Rate: Up to $20/hour DOE</li>
			            </ul>
				        <p><strong>Job Description:</strong></p>
				        <p>Our corporate client is in need of a few Flash candidates.</p>
				        <p>We are looking for a range of Flash candidates who are animators,   illustrators and ActionScripters with XML (either AS 2 or 3).</p>
				        <p>You will be animating online tutorials.</p>
				        <p>This is for ongoing freelance work. You will be required to work onsite in   Seattle for training, but then you can work offsite up to 40 hours a week. There   are tight deadlines but this client is extremely flexible with which hours you   work after your initial training period.</p>
                        <div class="jobbottom">
                        <a href="#" class="applyjobbt">Apply this job</a>
                        </div>
			          </div>
			        </div>
			      </div>

{% endblock %}