{% extends 'sns/layout/content.html' %}
{% load snspostingruletags %}
{% block content %}
<div class="content">
    
<script type="text/javascript">
	getAjaxUploadProcessor('/url/website/upload/');
</script>    
    
	<form id='importFromCSVForm' method="POST" action="/url/website/upload/" enctype="multipart/form-data">
    <table>
    <div class="ruleForm">
	    {% block form %}
				<div class="cb1">
				    				    
				    <div class="cb2Double">
					    {{ form.file.errors }}
					    <div class="clearFloat"></div>
						<div>{{form.file.label_tag}}</div> <div>{{form.file}}</div>
					    <div class="clearFloat"></div>
				    </div>
				    <div id="upload_state" class="cb2Double"><div id="upload_loading" style="display: none;"><img alt="loading" src="{{MEDIA_URL}}sns/images/loading.gif"></div></div>
					 
				</div>

		{% endblock %}
        </div>
    </table>
	</form>
</div>
{% endblock %}