{% load commonstringtags %}
{% load souptags %}

<div id="rating-ajax-{{object.id}}" class="rating-ajax">
	<ul id="rating-login-user-{{object.id}}" class="rating rating-login-user" orig="{{object.userRating.rating}}">
		<li>
			<span class="sub-description"><span class="highlight">{{object.userRating|userRatingLabel:object.counter.ratingCount}}</span></span>
		</li>
		{% for iconId in view.const.LIST5 %}
		<li id="rating-login-user-icon-{{iconId}}-{{object.id}}" class="rating-login-user-icon">
			<a onclick="rateArticle('{{view.fbCookieKey}}','#rating-ajax-{{object.id}}','/{{view.ctx.app_path}}/rate/?id={{object.id}}&newscore={{iconId}}');">
				<span class="icon-16 {{object.userRating|ratingIconClass:iconId}}"></span>
			</a>
		</li>
		{% endfor %}
		{% if view.currentUserProfile and object.userRating %}
		<li>
			<span class="inner-block-1 gray-text">{{ object.userRating.modifiedTime|timeAgo }}</span>
		</li>
		{% endif %}
	</ul>
	<script  type="text/javascript"> $("#rating-login-user-{{object.id}} .rating-login-user-icon").hover(ratingHoverIn, ratingHoverOut); </script>
	
	{% ifnotequal object.counter.ratingCount 0 %}
	<ul id="rating-overall-{{object.id}}" class="rating rating-overall">
		<li itemscope itemtype="http://schema.org/AggregateRating">
		<span class="sub-description"><span class="highlight" ><span itemprop="ratingValue">{{object.counter.rating}}</span>/5</span> on</span> <a class="explicit hover-underline" href="/soup/{{object.globalUrl.titleKey}}" ><span itemprop="ratingCount">{{object.counter.ratingCount|pluralHandler:"rating"}}</span></a>
		</li>
		{% for iconId in view.const.LIST5 %}
		<li id="rating-overall-icon-{{iconId}}-{{object.id}}">
			<span class="icon-16 {{object.counter.rating|ratingIconClass:iconId}}"></span>
		</li>
		{% endfor %}
	</ul>
	{% endifnotequal %}
	
	<div class="ui-helper-clearfix"></div>
</div>